
@{
    ViewBag.Title = "Register";
}

<!DOCTYPE html>
<html>
<head>
    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/myscripts/webapi.js"></script>
    <meta charset="utf-8" />
    <title></title>
</head>
<body ng-app="mymodule">
    <div ng-controller="mycontrol">
        <table cellpadding="2" cellspacing="2" border="1">
            <thead>
                <tr>
                    <td>username</td>
                    <td>password</td>
                    <td>EmailAddress</td>

                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="value in Values">
                    <td>{{value.username}}</td>
                    <td>{{value.password}}</td>
                    <td>{{value.EmailAddress}}</td>

                </tr>
            </tbody>
        </table>
    </div>

</body>
</html>
